:root {
    --body-background-color: #070708;
    --body-text-color: #FAFAFA;
    --card-background-color: #141717;
    --nav-background-color: #141717;
    --nav-border-bottom-color: #222626;
    --nav-current-border-bottom-color: #F97316;
    --card-border-color: #222626;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #6b1020;
    --degraded-border-left-color: #f7b731;
    --up-border-left-color: #22993D;
    --tag-color: #0d1117;
    --tag-up-background-color: #22993D;
    --tag-down-background-color: #F03A17;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: brightness(0.3) sepia(1) hue-rotate(90deg) saturate(7);
  }